.background {
    background-image: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7)
}

.background {
    background-image: conic-gradient(from -270deg at 50% -5%, yellow, yellowgreen)
}

.background2 {
    background-image: url(../../Assets/Imgs/blackOil.gif)
}

.background3 {
    background-image: conic-gradient(from -90deg at 50% 105%, white, orchid);
}

.background4 {
    background: rgb(249,249,249);
    background: linear-gradient(99deg, rgba(249,249,249,1) 0%, rgba(187,106,250,1) 100%);
}


.post {
    text-align: left
}

.post h1 {
    font-weight: 900;
    font-size: 2.1rem;
}

.post h2 {
    font-weight: 800;
    font-size: 1.9rem;
}

.post h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.post h4 {
    font-weight: 600;
    font-size: 1.4rem;
}
.post h5 {
    font-weight: 500;
    font-size: 1.3rem;
}

.post p {
    margin-top: 20px;
}

.post ul {
    list-style: circle;
    text-align: left
}

.yellow {
    background-color: #e9f406
}

.scales {
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

#summary.bars-title-bars {
    position: relative;
  }
  
  #summary.bars::before, #summary.bars::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #c183e0;
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }
  
  #summary.bars::before {
    left: -8px;
    transform-origin: center top;
  }
  
  #summary.bars:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
  }
  
  #summary.bars::after {
    right: -8px;
    transform-origin: center bottom;
  }
  
  #summary.bars:hover::after {
    transform-origin: center top;
    transform: scaleY(1);
  }
  

  .jelly {
      color: #c183e0;
    z-index: 0;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
  }
  
  .jelly:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }

  .jelly.black {
      color: black
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  
  .pink {
    background: conic-gradient(from -270deg at 75% 110%, fuchsia, floralwhite);
  }